Package: kz
Version: 365
Architecture: all
Maintainer: Karel Zimmer <info@karelzimmer.nl>
Depends: psmisc, python3-systemd, rsync, snapd
Homepage: https://karelzimmer.nl
Description: installation scripts for Debian and Debian-based systems such as Ubuntu
 This package contains scripts to install Debian or Ubuntu smoothly and usably.
 .
 Follow the steps as described in the Checklist installation.
 .
 Checklist installation can be found on the site https://karelzimmer.nl,
 under Linux.
 .
 Package kz is named after its creator, Karel Zimmer.
