Package: kz
Version: 365
Architecture: all
Maintainer: Karel Zimmer <info@karelzimmer.nl>
Depends: dbus-x11, psmisc, rsync, snapd
Homepage: https://karelzimmer.nl
Description: Documents and scripts from Karel Zimmer.
 Package kz places documents and scripts from Karel Zimmer for installing and
 managing Debian and Debian based systems like Ubuntu.
 .
 Follow the steps as described in the Checklist installation.
 .
 Checklist installation can be found on the site https://karelzimmer.nl,
 under Linux.
