Package: kz
Version: 4.2.1-1
Architecture: all
Depends: policykit-1, psmisc, python3-systemd, rsync, zenity
Section: utils
Priority: optional
Maintainer: Karel Zimmer <info@karelzimmer.nl>
Installed-Size: 690
Homepage: https://karelzimmer.nl/en
Description: Installation and management scripts by Karel Zimmer
  Package kz contains scripts for installing and managing Debian and
  Debian-based systems such as Ubuntu.
  .
  For how to use this package see Checklist installation.
  .
  Checklist installation can be found on the site https://karelzimmer.nl/en,
  under Linux.
Description-md5: 7c3dc54735c9edfb61e97f5617fa89c7
Homepage-nl: https://karelzimmer.nl
Description-nl: Installatie- en beheerscripts door Karel Zimmer
  Pakket kz bevat scripts voor het installeren en beheren van Debian en
  Debian-gebaseerde systemen zoals Ubuntu.
  .
  Zie Checklist installatie voor het gebruik van dit pakket.
  .
  Checklist installatie is te vinden op de site https://karelzimmer.nl,
  onder Linux.
